#button {
  cursor: pointer;
  top: 170px;
  left: 40px;
  position: fixed;
}

#imprimir {
  bottom: 150px;
  right: 50px;
  cursor: pointer;
  position: fixed;
}

#confirmar{
  bottom: 250px;
  right: 48px;
  cursor: pointer;
  position: fixed;
}

#ubicacion {
  margin-left:  40%;
  margin-top: 25%;
  cursor: pointer;
  display: none;
}

.producto {
  border: 2px solid yellow;
}

.producto-container {
  display: flex;
  align-items: center;
}

table {
  margin-left: 8%;
  width: 70%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 5%;
  cursor: default;

}

table th,
table td {
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
}


h1{
  text-align: center;
  margin-bottom: 5%;
  cursor: default;
  margin-top: 10%;
  margin-left: -10%;
}

#sumaTotal{
  bottom: 600px;
  right: 50px;
  font-size: 3vh;
  cursor: default;
  position: fixed;
}

#basura{
  width: 4%;
  bottom: 150px;
  right: 280px;
  cursor: pointer;
  position: fixed;
}

#eliminar{
  width: 15%;
  cursor: pointer;
}

@media print {

  body {
    background-color: white;
  }

  #imprimir,#confirmar{
    display: none;
  }

  #button{
    display: none;
  }

  #eliminar{
    display: none;
  }

  .producto {
    border: 2px solid black;
  }

  h1{
    margin-left: 5%;

    white-space: nowrap;
  }

  #basura{
    display: none;
  }

  #ubicacion {
    display: none;
  }

  table {
    width: 80%;
    border-collapse: collapse;
    table-layout: initial;
  }

  table th,
  table td {
    font-size: 12px;
  }

  #sumaTotal{
    font-size: 2vh;
    margin-right: 5%;
  }

  .producto {
    border: 0px solid black;
    border-bottom: 1px solid black;
  }

}

