.lateral{
  background-color: #f1f1f1;
  height: 89vh;
  width: 20vh;
  margin-top: 5%;


  position: fixed;
}

#filtros {
  height: 54.5%;
  width: 16vh;
  position: fixed;
  left: 0;
  background-color: #0C5680;
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 1%;
}

#filtros a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#filtros a:hover {
  color: #f1f1f1;
}


#links{
  height: 16%;
  width: 16vh;
  position: fixed;
  left: 0;
  background-color: #0C5680;
  overflow-x: hidden;
  margin-left: 1%;
  margin-top: 27%;
}

#links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;

}

#links a:hover {
  color: #f1f1f1;
}


.dropdown{
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 9%;
}

.productos{
  margin-left: 20%;
  margin-top: 7%;
  margin-bottom: 5%;
  width: 80%;
  height: 89vh;
  position: fixed;
  overflow-x: scroll;
}
