 <div class="global">
 <section class="lateral">

  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
      Supermercados
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="filtrarPorSuper('Mercadona')">Mercadona</a></li>
      <li><a class="dropdown-item" (click)="filtrarPorSuper('Hiperdino')">Hiperdino</a></li>
      <li><a class="dropdown-item" (click)="filtrarPorSuper('Carrefour')">Carrefour</a></li>
    </ul>
  </div>

 <div class="sidenav" id="filtros">
    <a (click)="filtrarPorTipo('Carniceria')">Carniceria</a>
    <a (click)="filtrarPorTipo('Pescaderia')">Pescaderia</a>
    <a (click)="filtrarPorTipo('Fruteria')">Fruteria</a>
    <a (click)="filtrarPorTipo('Verduras y hortalizas')">Verduras y hortalizas</a>
    <a (click)="filtrarPorTipo('Panaderia')">Panaderia</a>
    <a (click)="filtrarPorTipo('Charcuteria')">Charcuteria</a>
    <a (click)="filtrarPorTipo('Lacteos')">Lacteos</a>
    <a (click)="filtrarPorTipo('Dulces')">Dulces</a>
    <a (click)="filtrarPorTipo('Aperitivos')">Aperitivos</a>
    <a (click)="filtrarPorTipo('Huevos')">Huevos</a>
    <a (click)="filtrarPorTipo('Del mar')">Del mar</a>
    <a (click)="filtrarPorTipo('Alcoholes')">Alcoholes</a>
  </div>

  <div class="sidenav" id="links">
    <a href="#contact">Favoritos </a>
    <a href="#contact">Recomendados</a>
  </div>

</section>


<section class="productos">
  <div class="product-grid" id="productGrid">
    <app-product *ngFor="let producto of productosFiltrados" [producto]="producto"></app-product>
    <br>
    <br>
  </div>
</section>

</div>
