 <div class="global">
 <section class="lateral">

  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
      Supermercados
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Corte Inglés</a></li>
      <li><a class="dropdown-item" href="#">Hiperdino</a></li>
      <li><a class="dropdown-item" href="#">Carrefour</a></li>
    </ul>
  </div>



 <div class="sidenav" id="filtros">
    <a href="#about">Carniceria</a>
    <a href="#services">Pescaderia</a>
    <a href="#clients">Fruteria</a>
    <a href="#contact">Verduras y hortalizas</a>
    <a href="#contact">Panaderia</a>
    <a href="#contact">Charcuteria</a>
    <a href="#contact">Lacteos</a>
    <a href="#contact">Dulces</a>
    <a href="#contact">Aperitivos</a>
    <a href="#contact">Huevos</a>
    <a href="#contact">Rebozados</a>
    <a href="#contact">Pizzas</a>
    <a href="#contact">Helados</a>
    <a href="#contact">Del mar</a>
    <a href="#contact">Refrescos</a>
    <a href="#contact">Alcoholes</a>
    <a href="#contact">Aguas/zumos</a>
  </div>

  <div class="sidenav" id="links">
    <a href="#contact">Lista de la compra</a>
    <a href="#contact">Favoritos </a>
    <a href="#contact">Recomendados</a>
  </div>

</section>
<section class="productos">
  <div class="product-grid" id="productGrid">
    <app-product *ngFor="let producto of productos" [nombre]="producto"></app-product>
  </div>
</section>

</div>
