<h1>Perfil de usuario</h1>

<div id="content">
  <section id="perfil">
  <div id="perfil-container">
    <div *ngIf="!editMode">
      <p><strong>Email:</strong> <br> {{ usuario.email }}</p>
      <p><strong>Contraseña:</strong> <br>********</p>
      <p><strong>Ciudad:</strong> <br> {{ usuario.ciudad }}</p>
      <p><strong>Direccion:</strong> <br> {{ usuario.direccion }}</p>
      <p><strong>Codigo Postal:</strong> <br> {{ usuario.postalCode }}</p>
      <div class="button-container">
        <button id="button1"(click)="activarEdicion()">Modificar</button>
      </div>
    </div>

    <form *ngIf="editMode" (ngSubmit)="guardarPerfil()">
      <div id="editable">
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required>
      </div>

      <div id="editable">
        <label for="password">Nueva contraseña: </label>
        <br>
        <input type="text" id="password" name="password" [(ngModel)]="usuario.password" required>
        <p>*Obligatorio escribir contraseña</p>
      </div>

      <div id="editable">
        <label for="ciudad">Ciudad::</label>
        <br>
        <input type="text" id="cuidad" name="ciudad" [(ngModel)]="usuario.ciudad" required>
      </div>

      <div id="editable">
        <label for="direccion">Direccion:</label>
        <br>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="usuario.direccion" required>
      </div>

      <div id="editable">
        <label for="postalcode">Codigo postal:</label>
        <br>
        <input type="number" id="postalCode" name="postalCode" [(ngModel)]="usuario.postalCode" required>
      </div>


      <div class="button-container">
        <button type="submit">Guardar</button>
      </div>
    </form>
  </div>
  </section>
</div>
