#perfil-container {
  background-color: white;
  border-radius: 10px;
  height: 69.5vh;
  padding-top: 5%;
}
#perfil {
  height: 70vh;
  width: 40vw;
  border: 2px solid black;
  margin: 5vw auto;
  border-radius: 10px;
  margin-top: 7%;
}

#perfil-container p{
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 4%;
}
#editable{
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 1%;
}

.button-container {
  text-align: center;
  margin-top: 5%;
  position: relative;
}

strong{
  margin-bottom: 2%;
}

/* .button-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.button-container button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
