<div class="pagina">
  <section class="logo_titulo">
    <p id="titulo">SHOPLISTMAKER</p>
    <img id="logo_grande" src="assets\icons\iconmonstr-shop-8-240 2.png">
  </section>

  <section class="fomulario">
    <form (ngSubmit)="navigateToAnotherPage()">
      <div class="input-container" id="campo">
        <input type="text" name="nombre" placeholder="Escriba aquí el nombre del producto..." [(ngModel)]="searchTerm">
      </div>
      <div class="input-container" id="desplegable" >
        <select id="supermercado" placeholder="supermercado" >
          <option value="" disabled selected>Elija un supermercado</option>
          <option value="hiper">Hiperdino</option>
          <option value="carre">Carrefour</option>
          <option value="merca">Mercadona</option>
        </select>
      </div>
    </form>
  </section>
</div>

