.logo_titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

#titulo{
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  color: #fff;

  margin-right: 2%;
}

#logo_grande{
  width: 9%;
}

.formulario {
  text-align: center;
}

.input-container {
  display: inline-block;
  margin: 1vw;
  text-align: center;
}

input[type="text"],
select {
  padding: 1vw;
  border: 0.3vw solid #000000;
  border-radius: 1vw;
  width: 30vw;
  font-size: 1vw;
  color: #095C1A;

}

#campo{
  margin-left: 15%;
  margin-right: 5%;
}
