.navegador {
  width: 100%;
  height: 6vw;
  background-color: #0C5680;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#sesion{
  width: 10.5%;
  float: right;
  margin-right: 2%;
  margin-top: 1.5%;
}

#logo {
  width: 5%;
  height: 80%;
  float: left;
  margin-left: 2%;
  margin-top: 0.5%;
}
