#login {
  height: 50vh;
  width: 40vw;
  border: 2px solid black;
  margin: 5vw auto;
  border-radius: 10px;
  margin-top: 7%;
}

#login-container {
  background-color: white;
  border-radius: 10px;
}

#acciones {
  width: 70%;
  height: 4.9vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#acciones a {
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
}

.ng-untouched,
.ng-touched {
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  border: 2px solid black;
  border-radius: 0.5vw;
  width: 95%;
  height: 5vh;
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
  padding: 0.5vh 0.5vw;
}
#login-form {
  font-weight: 0;
  width: 80%;
  margin: 3vw auto;
  height: 15.75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}
#login-form .login-field:hover {
  background-color: lightgray;
}
#boton {
  background-color: transparent;
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  border: 2px solid black;
  border-radius: 0.5vw;
  width: 10vw;
  align-self: center;
  padding: 1vh 1vw;
  margin-bottom: 5%;
}

#boton:hover {
  cursor: pointer;
  background-color: lightgray;
}
.alert {
  font-family: "Open sans", sans-serif;
  font-size: 0.8vw;
  color: coral;
  position: absolute;
  margin-top: -1.8vw;
}
.olvidada {
  display: flex;
  text-decoration: none;
  color: darkblue;
  font-size: 0.8vw;
  text-align: center;
  font-weight: normal;
  width: fit-content;
}


@media (max-width: 1023px) and (min-width: 641px) {
  #login {
    width: 70vw;
    height: 50vw;
  }
  #acciones a {
    font-size: 2vw;
  }
  #acciones p {
    font-size: 2vw;
  }

  .ng-untouched,
  .ng-touched {
    font-size: 2vw;
    height: 8vh;
  }

  #login-form {
    margin: auto;
    margin-top: 7vw;
    height: 37.62vw;
  }

  #boton{
    width: 15vw;
    font-size: 2vw;
  }

  .olvidada{
    font-size: 1.2vw;
  }
}
@media (max-width: 640px) {

  #banner {
    height: 15vw;
  }
  #login {
    width: 90vw;
    height: 90vw;
  }
  #acciones a {
    font-size: 3vw;
  }
  #acciones p {
    font-size: 3vw;
  }

  .ng-untouched,
  .ng-touched {
    font-size: 5vw;
    height: 12vh;
  }

  #login-form {
    margin: auto;
    margin-top: 18vw;
  }

  #boton{
    width: 25vw;
    font-size: 5vw;
  }

  .olvidada{
    font-size: 3vw;
  }
}
