.footer {
  width: 100%;
  height: 3vw;
  background-color: #0C5680;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer p{
  color: white;
  font-size: 1vw;
  margin-left: 2%;
}
